:root {
    --color-main: #2E2F42;
    --color-interactive: #404BBF;
    --color-body: #434455;
    --color-accent: #FFFFFF;
    --color-second: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-body);
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-accent);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-main);
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-main);
    text-align: center;
    letter-spacing: 0.02em;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    
}
.logo-header {
    color: var(--color-main);
}
.logo-footer {
    color: var(--color-second);
}
.link-nav {
    font-weight: 500;
    color: var(--color-main);
}
.link-nav:focus,
.link-nav:hover
{
    color: var(--color-interactive);
 
}

.address {
    font-style: normal;
}
.link-address {
    color: var(--color-body);
}

.link-address:focus,
.link-address:hover
{
    color: var(--color-interactive);
    
}
.main-page-section {
    background-color: var(--color-main);
}
.first-title{
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    color: var(--color-accent);
    letter-spacing: 0.02em;

}
.button {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-accent);
    background-color: #4D5AE5;
    text-shadow: 0px 4px 4px #00000026;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 1.5;
}
.button:hover,
.button:focus
 {
    background-color: var(--color-interactive);
}

.our-team-section {
    background-color: #F4F4FD;
}
.our-team-section p,
.our-team-section h3
{
    text-align: center;
}

.team-title{
    text-transform: capitalize;
}
.team-list{
    background-color: #fff;
}

.end {
    background-color: var(--color-main);
}
.increase {
    color: var(--color-second);
}
